.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
    height: auto;
}

.h2 {
    text-align: center;
    font-size: 2em;
    color: aliceblue;
    font-weight: 300;
}

.loading {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

