.head-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-title {
    color: aliceblue;
    font-weight: 400;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0px;
}

.total {
    color: aliceblue;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 3px 7px;
    border-left: 2px solid red;
    border-right: 2px solid red;
    font-weight: 100;
}

.cart-lego{
    width: 70%;
    margin: 0 auto;
    height: 82vh;
}

.cart-info {
    display: flex;
    justify-content: space-around;
    padding: 30px 10px 0 10px;
    align-items: center;
    border-bottom: 1px solid white ;
}

.cart-info p {
    color: aliceblue;
    padding: 5px 25px;
}

.btn-quitar-lego{
    padding: 4px;
    background-color: rgb(255, 0, 0);
    color: #f3f4f5;
    border: 2px solid rgb(255, 0, 0);
    transition: all .2s ease-in-out;
    font-size: 15px; 
}

.btn-quitar-lego:hover,
.clear-cart:hover,
.btn-new-order:hover {
    background-color: rgba(255, 0, 0, 0);
}

.clear-cart {
    padding: 4px;
    background-color: rgb(255, 0, 0);
    color: #f3f4f5;
    border: 2px solid rgb(255, 0, 0);
    transition: all .2s ease-in-out;
    font-size: 15px;
    margin: 25px;
    
}

.cart-vacio {
    text-align: center;
    height: 730px;   
}

.text-cart-vacio {
    color: aliceblue;
    font-size: 2em;
    text-align: center;
}

.to-inicio {
    text-decoration: none;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    transition: all .2s ease-in;
}

.to-inicio:hover {
    color: rgba(255, 0, 0, 0.521);
}

.btn-end-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-new-order {
    padding: 4px;
    background-color: green;
    color: #f3f4f5;
    border: 2px solid rgb(0, 128, 0);
    transition: all .2s ease-in-out;
    font-size: 15px;
    margin: 25px;
}