.card-detail {
    margin: 10px;
    width: 900px;
    height: 600px;
    background-color: rgb(26, 25, 31);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 25px 4px rgba(255, 254, 254, 0.473);
    display: flex;
}

.card-img-detail {
    width: 100%;
}

.img-detail {
    width: 300px;
    height: 300px;
}

.card-body-detail {
    width: 100%;
}

.card-title-detail {
    text-align: center;
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 300;
}

.detail-text {
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
}

.detail-precio {
    font-size: 26px;
    color: rgba(255, 0, 0, 0.678);
    text-align: center;
}