.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffcf00;
    color: aliceblue;
    height: 100px;
}

.navBar a {
    text-decoration: none;
}

.btn-nav {
    margin: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 2px solid red;
    padding: 3px;
    border-radius: 3px;
    background-color: red;
    transition: 0.2s all;
}

.btn-nav:hover {
    background-color: transparent;
    border: 2px solid red;
    color: red; 
}

.logo {
    color: red;
    border: 3px solid red;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 2rem;
}

.cart-hidden {
    opacity: 0;
}

.cart-block {
    opacity: 1;
}

