.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.btn-nav {
    margin: 10px;
}

.logo {
    color: red;
    border: 3px solid red;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
}